extends layout

block content
  script.
    $(document).ready(function () {
      var btable = $('#blocks-table').dataTable({
        autoWidth: true,
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: parseInt(#{ui_interval}) > 10000, // only display loading indicator if update interval is long enough
        language: {
          processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"><span class="sr-only">Loading...</span></i>'
        },
        serverSide: true,
        ajax: function (data, cb, settings) {
          $.ajax({
            url: `/ext/getblocks/${data.start + 1}/${data.start + data.length}?flds=summary&reverse=true&strip=true`
          }).done((res) => {
            cb({
              draw: data.draw,
              recordsTotal: res.data.blockcount,
              recordsFiltered: res.data.blockcount,
              data: res.data.blocks.map((d, i) => {
                d['hash'] = `<a href='/block/${d['hash']}'>${d['hash']}</a>`;
                d['timestamp'] = new Date((d['time']) * 1000).toUTCString();
                return d
              })
            })
          })
        },
        columns: [
          { data: 'height', width: '12%' },
          { data: 'hash', width: '48%' },
          { data: 'nTx', width: '8%' },
          { data: 'timestamp', width: '24%' },
        ]
      })
      setInterval(function () {
        btable.api().ajax.reload(null, false)
      }, parseInt(#{ui_interval}) || 30000)
    });
  .row
    .col-md-12
      if error !== null        
        .alert.alert-danger.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong #{settings.locale.ex_error} : #{error}
      if warning !== null        
        .alert.alert-warning.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong #{settings.locale.ex_warning} #{warning}
  
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.ex_latest_blocks}
      table#blocks-table.table.table-bordered.table-striped(style='font-family: "B612 Mono"')
        thead
          tr
            th.text-center #{settings.locale.height}
            th.hidden-xs.text-center #{settings.locale.tx_block_hash}
            th.text-center #{settings.locale.ex_num_transactions}
            th.text-center #{settings.locale.timestamp}
        tbody.text-center
    .footer-padding
      
              
