extends layout

block content
  script.
    $(document).ready(function () {
      var stable = $('#block-table').dataTable( {  
        autoWidth: true,      
        searching: true,
        ordering: false,
        responsive: true,
        lengthChange: false,
        processing: true,
        paging: false,
        info: false,
        ajax: {
          url: '/ext/summary',
          dataSrc: function (json) {
            json.data[0]['height'] = "<a href='/block/" + json.data[0]['hash'] + "'>" + json.data[0]['height'] + "</a>"
            return json.data
          }
        },
        columns: [
          { data: 'blockcount', width: '8%' },
          { data: 'difficulty', width: '10%' },
          //- { data: 'size', width:'10%' },
          //- { data: 'txs', width: '10%' },
          { data: 'supply', width: '15%' },
          //- { data: 'time', width: '20%' },
        ]
      })
      var btable = $('#blocks-table').dataTable({
        autoWidth: true,
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        serverSide: true,
        ajax: function (data, cb, settings) {
          $.ajax({
            url: `/ext/getblocks/${data.start}/${data.start + data.length}?flds=summary&reverse=true&strip=true`
          }).done((res) => {
            cb({
              draw: data.draw,
              recordsTotal: res.data.blockcount,
              recordsFiltered: res.data.blockcount,
              data: res.data.blocks.map((d, i) => {
                d['hash'] = `<a href='/block/${d['hash']}'>${d['hash']}</a>`;
                d['timestamp'] = new Date((d['time']) * 1000).toUTCString();
                return d
              })
            })
          })
        },
        columns: [
          { data: 'height', width: '15%' },
          { data: 'hash', width: '45%' },
          { data: 'timestamp', width: '20%' },
        ]
      })
      setInterval(function () {
        stable.api().ajax.reload(null, false)
        btable.api().ajax.reload(null, false)
      }, 30000)
    });
  .row
    .col-md-12
      if error !== null        
        .alert.alert-danger.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong #{settings.locale.ex_error} : #{error}
      if warning !== null        
        .alert.alert-warning.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong #{settings.locale.ex_warning} #{warning}
  
  .col-md-12
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.ex_latest_blocks}
      table#blocks-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{settings.locale.height}
            th.hidden-xs.text-center #{settings.locale.tx_block_hash}
            th.text-center #{settings.locale.timestamp}
        tbody.text-center
    .footer-padding
      
              
