extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.api_title}
      .panel-body
        :markdown
          *#{settings.locale.api_message}*
          
          ------

          ### #{settings.locale.api_calls}
          *Return data from coind*

          *  **getdifficulty**  
             *#{settings.locale.api_getdifficulty}*  
             [#{address}/api/getdifficulty](/api/getdifficulty)   

          *  **getconnectioncount**  
             *#{settings.locale.api_getconnectioncount}*  
             [#{address}/api/getconnectioncount](/api/getconnectioncount) 

          *  **getblockcount**  
             *#{settings.locale.api_getblockcount}*  
             [#{address}/api/getblockcount](/api/getblockcount)

          *  **getblockhash [index]**  
             *#{settings.locale.api_getblockhash}*  
             [#{address}/api/getblockhash?index=#{hashes.blockindex}](/api/getblockhash?index=#{hashes.blockindex})

          *  **getblock [hash]**  
             *#{settings.locale.api_getblock}*  
             [#{address}/api/getblock?hash=#{hashes.blockhash}](/api/getblock?hash=#{hashes.blockhash})

          *  **getrawtransaction [txid] [decrypt]**  
             *#{settings.locale.api_getrawtransaction}*  
             [#{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0](/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0)  
             [#{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1](/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1)
        

        if settings.index.show_hashrate == true
          :markdown
            *  **getnetworkhashps**  
               *#{settings.locale.api_getnetworkhashps}*  
               [#{address}/api/getnetworkhashps](/api/getnetworkhashps)



        if settings.heavy == true
          :markdown
            *  **getmaxmoney**  
               *#{settings.locale.api_getmaxmoney}*  
               [#{address}/api/getmaxmoney](/api/getmaxmoney)
            
            *  **getmaxvote**  
               *#{settings.locale.api_getmaxvote}*  
               [#{address}/api/getmaxvote](/api/getmaxvote)

            *  **getvote**  
               *#{settings.locale.api_getvote}*  
               [#{address}/api/getvote](/api/getvote)

            *  **getphase**  
               *#{settings.locale.api_getphase}*  
               [#{address}/api/getphase](/api/getphase)

            *  **getreward**  
               *#{settings.locale.api_getreward}*  
               [#{address}/api/getreward](/api/getreward)

            *  **getsupply**  
               *#{settings.locale.api_getsupply}*  
               [#{address}/api/getsupply](/api/getsupply)  

            *  **getnextrewardestimate**  
               *#{settings.locale.api_getnextrewardestimate}*  
               [#{address}/api/getnextrewardestimate](/api/getnextrewardestimate)

            *  **getnextrewardwhenstr**  
               *#{settings.locale.api_getnextrewardwhenstr}*  
               [#{address}/api/getnextrewardwhenstr](/api/getnextrewardwhenstr)                                                       

        :markdown
          ------

          ### Extended API 
          *Return data from local indexes*

          *  **getmoneysupply**  
               *Returns current money supply*  
               [#{address}/ext/getmoneysupply](/ext/getmoneysupply)

          *  **getdistribution**  
               *Returns wealth distribution stats*  
               [#{address}/ext/getdistribution](/ext/getdistribution)

          *  **getaddress (/ext/getaddress/hash)**  
               *Returns information for given address*  
               [#{address}/ext/getaddress/#{hashes.address}](/ext/getaddress/#{hashes.address})

          *  **getbalance (/ext/getbalance/hash)**  
               *Returns current balance of given address*  
               [#{address}/ext/getbalance/#{hashes.address}](/ext/getbalance/#{hashes.address})

          *  **getlasttxs (/ext/getlasttxs?count=[number\_of\_txs]&minAmount=[min\_amount\_in\_#{settings.symbol}]&start=[most\_recent\_tx\_objectid])**  
               *Returns last [count] transactions with amounts (measured in #{settings.symbol}) greater than [minAmount]. Start is mainly used for paging results such that if specified, only transactions with objectIds less than [start] will be returned. Since objectIds are created according to when the transaction was added to the database, they essentially serve as a unique timestamp to query by.*  
               *Note: returned values are in satoshis*  
               [#{address}/ext/getlasttxs?count=10&minAmount=5](/ext/getlasttxs?count=10&minAmount=5)

          * **getblocks (/ext/getblocks/start/end?flds=[fields]&reverse=[true|false]&strip=[true|false])**  
               *Returns a list of blocks found from [start] to [end] block height (inclusive, indexed from 1). \[reverse\] can be set to read from the most recent blocks first (e.g. /ext/getblocks/1/10?reverse=true will return the 10 most recent blocks). A list of length end - start will always be returned and blocks not found will simply be set to null, however if [strip] is true, all invalid blockheights will be removed from the returned results.*  
               *[flds] is a list of fields to return, if set to "summary" it will only return block info, ["tx"] is commonly used to only return transactions in the block.*  
               [#{address}/ext/getblocks/1/10](/ext/getblocks/1/10)

          ------

          ### Linking (GET)
          *Linking to the block explorer*

          *  **transaction (/tx/txid)**  
             [#{address}/tx/#{hashes.txhash}](/tx/#{hashes.txhash})

          *  **block (/block/hash)**  
             [#{address}/block/#{hashes.blockhash}](/block/#{hashes.blockhash})
    
          *  **address (/address/hash)**  
             [#{address}/address/#{hashes.address}](/address/#{hashes.address})

          *  **qrcode (/qr/hash)**  
             [#{address}/qr/#{hashes.address}](/qr/#{hashes.address})

    .footer-padding

